html {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}
.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.title {
    margin-left: 20%;
}

.description {
    max-width: 440px;
    margin-right: 20%;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 27px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 75%;
    width: 65%;
    margin-left: 20%;
    margin-top: 5%;
}

.images div {
    height: 30%;
    width: 17%;
    margin-right: 9%;
}


.member-name {
    margin-top: 1px;
    font-weight: 600;
    font-size: 18px;
}

.member-position {
    width: 10%;
    position: absolute;
    transform: rotate(90deg);
    font-family: serif;
    margin-left: 6.7%;
    margin-top: 4.6%;
}

.person {
    margin-top: 10%;
}

img {
    height: 100%;
    width: 100%;
}

footer {
    margin-top: 30px;
    font-weight: 600;
    text-align: center;
    font-size: 17px;
    color:  #A9A9A9;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    text-decoration: none;
    color: #a9a9a9;
}